@import "tailwindcss";


@theme {
  /* Primary Colors */
  --color-primary-100: #c4c5ea;
  --color-primary-200: #8b8bd4;
  --color-primary-300: #4d51bf;
  --color-primary-400: #373a99;
  --color-primary-500: #27296c;
  --color-primary-10:  #4d51bf;

  /* Secondary Colors */
  --color-secondary-100: #aee8ff;
  --color-secondary-200: #55d6ff;
  --color-secondary-300: #00c2ff;
  --color-secondary-400: #0096c5;
  --color-secondary-500: #006b8c;
  --color-secondary-10:  #00c2ff;

  /* Neutral Colors */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #d2d2d2;
  --color-neutral-400: #bbbbbb;
  --color-neutral-500: #a4a4a4;
  --color-neutral-600: #8e8e8e;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4a4a4a;
  --color-neutral-1000: #333333;
  --color-neutral-10: #333333;

  /* Red Colors */
  --color-red-100: #fb3748;
  --color-red-200: #d00416;
  --color-red-10: #fb3748;

  /* Yellow Colors */
  --color-yellow-100: #ffdb43;
  --color-yellow-200: #dfb400;
  --color-yellow-10: #ffdb43;

  /* Green Colors */
  --color-green-100: #84ebb4;
  --color-green-200: #1fc16b;
  --color-green-10: #1fc16b;

  /* Other Colors */
  --color-other-warmOrange: #FFB84D;
  --color-other-aquaTeal: #4DD4BF;
  --color-other-indigoBlue: #4D51BF;
  --color-other-softVioletBlue: #6E72E4;
  --color-other-brightCyan: #00C2FF;
  --color-other-coralPink: #FF6881;
  --color-other-coolLightGray: #F7F9FC;
  --color-other-softIndigo: #6378E5;
}

